<!-- <div class="w-full bg-white rounded p-4 shadow" [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}" [ngStyle]="{
  'background-color': isDarkTheme ? 'var(--bg-color-dark)' : 'var(--bg-color-light)',
  'color': isDarkTheme ? 'var(--text-color-dark)' : 'var(--text-color-light)'
}">
  <h1 class="text-2xl font-bold mb-4">Список дел</h1>

  <form class="mb-4" >
    <div class="flex items-center">
      <input type="text" class="flex-1 border p-2 mr-2" placeholder="Добавить задачу">
      <button type="submit" class="bg-blue-500 text-white p-2 rounded">Добавить</button>
    </div>
  </form>


  <div class=" p-4 rounded" [ngStyle]="{'background-color': isDarkTheme ? 'var( --bg-color-menu-dark)' : 'var(--bg-color-menu-light)','color': isDarkTheme ? 'var(--text-color-dark)' : 'va(--text-color-light)'
}">

    <div *ngFor="let taskList of data" class=" p-2 mb-2 rounded">
      <h2 class="text-lg font-bold mb-2">{{ taskList.title }}</h2>

      <div *ngFor="let taskItem of taskList.tasks" class="flex items-center">
        <input type="checkbox" class="mr-2" [checked]="taskItem.isCompleted">
        <span>{{ taskItem.description }}</span>
      </div>
    </div>
  </div>
</div> -->
<p>
  Enjoy :)
</p>

<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">
        
        <div cdkDropList 
            cdkDropListOrientation="horizontal" class="board-columns"
            (cdkDropListDropped)="dropGrid($event)">
        <div 
           cdkDragLockAxis="x" class="board-column" 
           *ngFor="let column of board.columns" cdkDrag>
          <div class="column-title" cdkDragHandle>
            {{ column.name }}
          </div>
          <div class="tasks-container"
          id="{{column.id}}"
          [cdkDropListConnectedTo]="['21', '32']"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
              {{ item }}
            </div>
          </div>

        </div>
      </div>


      </div>
    </div>
  </div>